body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Navbar */
.navbar{
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    color: white;
    z-index: 1;
    position: relative;
    padding-top: 14px;
    padding-bottom: 14px;
}
.navbar h1{
    font-size: 22px;
}
.social-icons{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.social-icon{
    width: 15px;
}
.nav-links a{
    color: white;
    text-decoration: none;
}
.nav-links{
    display: flex;
    gap: 25px;
    font-size: 14px;
    margin-left: 50px;
}
.hero{
    background:url("hero-bg.jpg") center/cover ;
    height: 100vh;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}
.overlay{
    background: rgba(0,0,0,0.85);
    position: fixed;
    inset: 0;
}
.hero-content{
    z-index: 1;
    position: relative;
    text-align:center;
}
.nav-links a.active{
    color: red;
}
.hero-buttons{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.button-1,.button-2{
      padding: 10px 20px;
    text-decoration: none;
}
.button-1{
    color: white;
}
.button-2{
    color: tomato;
    border: 2px solid tomato;
}
.hero-content p{
    font-size: 18px;
    color: #ccc;
    margin-bottom: 10px;
}
.hero-content h1{
    font-size: 42px;
    margin-bottom: 25px;
}